@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Introduction of Sweet Home.</p>
<p>
    Sweet Home is a real estate website that provides real estate services such as “register account”, “log in”, “login in with google account”, "upload hotel sources", "upload house sources", "booking house" and “send email with attachment”.
</p>
