@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sweet Home</h1>
    <p class="lead">Provide house services for you.</p>
    <img src="~/images/hote-1500x720.jpg" width="1000px" height="600px"/>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Any question?</h2>
        <p>
           Here is contact page, you can cantact our staff.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Contact Page", "Contact", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>User manual</h2>
        <p>Know what Sweet Home can do here.</p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("About Page", "About", "Home")</p>
    </div>

</div>