@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HOME IS ANYWHERE.</h1>
    <p class="lead">Sweet home is aimed to provide comfortable homes for customers.</p>
    <img src="~/images/hote-1500x720.jpg" alt="mainhotel" style="width:1000px; height:600px"/>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg" style="margin-top:50px">See properties &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>